@model Movies.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDMovie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDMovie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfRelease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfRelease)
        </dd>

        <dt>Actors:</dt>
        
        @foreach (var actor in Model.Actors)
        {
            <dd> @actor.FirstName @actor.LastName </dd>
        }
            

        @foreach (var uploadedFile in Model.UploadedFiles)
        {
            <dt>
                @uploadedFile.Name
            </dt>

            <dd style="margin-top:10px">
                <img src="~/Files?id=@uploadedFile.IDUploadedFile" alt="picture" width="300" height="200" />
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDMovie }) |
    @Html.ActionLink("Back to List", "Index")
</p>
