@model Movies.Actor

@{
    ViewBag.Title = "DetailsActor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsActor</h2>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDActor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDActor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieIDMovie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieIDMovie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditActor", new { id = Model.IDActor }) |
    @Html.ActionLink("Back to List", "ActorIndex")
</p>
